/* DEV ONLY! */
*{
    /* border: 1px solid orange; */
}
/* Generic */
:root {
    --bg: #A1BA89;
    --bg-mid: #625834;
    --bg-dark: #30362F;
    --text-color: #FFFBDB;
    --text-bright: #DA7422;
    --gold: #A59132;
    --nav-size: 60px;
    --border: 1px solid #A59132;
    --border-radius: 5px;
    --speed: 500ms;
}
/* overwrite default list */
ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
/* overwrite default link */
a {
    text-decoration: none;
    color: var(--text-color);
}
.container {
    max-width: 95%;
    margin: auto;
    padding: 0px 20px 40px;
    font-family: sans-serif;
    background-color: var(--bg-dark);
    border-radius: var(--border-radius);
    height: 100%;
}
.heading {
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 20px;
    color: var(--text-color);
}
.site-title{
    font-size: 3rem;
    font-weight: bold;
    color: var(--text-color);
}
/* nav */
input[type="checkbox"] {
    display: none;
}
nav {
    height: var(--nav-size);
    background-color: var(--bg-dark);
    padding: 0 1rem;
    overflow-x: hidden;
    
    
    
}
.nav-links {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 5fr  ;
    grid-template-rows: 1fr;
    width: 100%;
    list-style: none;
    padding-left: 0;
    border-bottom: 15px solid var(--gold);
    justify-items: start;
    align-items: center;
    
}
#first {
    grid-row: 1;
    grid-column: 1;
}
#second {
    grid-row: 1;
    grid-column: 2;
}
#third {
    grid-row: 1;
    grid-column: 3;
}
#fourth {
    grid-row: 1;
    grid-column: 4;
}

#end {
    grid-row: 1;
    grid-column: 6;
}
.nav-link-item {
   padding-right: 1rem;
   padding-left: 1rem;
   background-color: var(--bg-dark);
   transition: background .5s ease;
   border-radius: 5px;
   
   
}
.nav-link-item:hover {

    background-color: var(--gold);
    color: var(--text-color)
}
.nav-link-text {
    font-size: 1.2rem;
    font-weight: bold;
    color: var(--text-color);
    transition: color .5s ease;
}
.nav-link-text:hover {
    color: var(--text-color)
}
/* links */
a {
    transition: color .5s ease;
}
a:hover {
    color: var(--text-bright);
}

body {
    padding: 0;
    margin: 0;
    background-color: var(--bg-dark);
  
}


