/* DEV ONLY! */
*{
    border: 1px solid orange;
}
/* Generic */
.container {
    max-width: 960px;
    margin: auto;
    padding: 0 20px;
    font-family: sans-serif;
    background-color: aliceblue;
}
.heading {
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 20px;
    color: red
}
.site-title{
    font-size: 3rem;
    font-weight: bold;
    color: #333;
}
/* nav */
input[type="checkbox"] {
    display: none;
}
.nav-links {
    display: flex;
    list-style: none;
    padding-left: 0;
    flex-direction: column;
    align-items: flex-start;
    
}
.nav-link-item {
   padding-right: 2rem;
   background-color: azure;
   
}
.nav-link-text {
    font-size: 1.2rem;
    font-weight: bold;
    color: #333;
}
/* socials */
.socialContainer {
    float:right;
    display: block;
}