/* Styles for social components */
.socialContainer {
  display: flex;
  justify-content: right;
  align-items: center;
  margin: 0;
 
  padding: 0;
  

}
.socialIcon {
  width: 1.2rem;
  height: 1.5rem;
  margin: 0.5rem;
  fill: white;
  color: white;
}