/* Styles for social components */
.socialContainer {
  display: flex;
  justify-content: right;
  align-items: center;
  
  
  

}
.socialIcon {
  width: 1.2rem;
  height: 1.5rem;
 
  fill: white;
  color: white;
}